.photo-grid {
   margin: 0 auto;
   padding-top: 63px;
   max-width: 1184px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 16px;
   padding-left: 0;
}

@media screen and (max-width:1279px) {
   .photo-grid {
      padding-top: 92px;
      gap: 14px;
   }
}

@media screen and (max-width:1023px) {
   .photo-grid {
      padding-top: 81px;
      gap: 16px;
   }
}

@media screen and (max-width:767px) {
   .photo-grid {
      padding-top: 64px;
      gap: 12px;
      padding-right: 16px;
      padding-left: 16px;
   }
}