.lead {
   max-width: 984px;
   margin: 0px auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: auto;
   margin-left: auto;
   padding-top: 56px;
}

@media screen and (max-width:1279px) {
   .lead {
      padding-top: 48px;
   }
}