.place__paragraphs {
   font-weight: 400;
   font-size: 18px;
   line-height: calc(29 / 18 * 100%);
}

@media screen and (max-width:1023px) {
   .place__paragraphs {
      font-size: 16px;
   }
}

@media screen and (max-width:767px) {
   .place__paragraphs {
      padding-right: 16px;
      padding-left: 16px;
   }
}