.lead__title {
   max-width: 720px;
   font-weight: 900;
   font-size: 96px;
   line-height: 100px;
   text-align: center;
   margin: 0;
}

@media screen and (max-width:767px) {
   .lead__title {
      font-size: 68px;
      line-height: 72px;
      padding-right: 16px;
      padding-left: 16px;
   }
}

@media screen and (max-width:570px) {
   .lead__title {
      font-size: 40px;
      line-height: 44px;
   }
}