.intro {
   max-width: 984px;
margin: 0px auto;
   padding-left: 18px;
   box-sizing: border-box;
}

@media screen and (max-width:1279px) {
   .intro{
      padding-left: 24;
   }
}

@media screen and (max-width:767px) {
   .intro{
      padding-right: 16px;
      padding-left: 16px;
   }
}