.cover__title {
   max-width: 560px;
   position: relative;
   margin-top: 0;
   margin-bottom: 0;
   font-weight: 900;
   font-size: 72px;
   line-height: calc(76 / 72 * 100%);
   color: #FFFFFF;
   text-align: center;
   z-index: 0;
   padding-bottom: 32px;
}

@media screen and (max-width:767px) {
   .cover__title {
      font-size: 32px;
      padding-bottom: 16px;
   }
}