.cover__title {
   position: relative;
   margin-top: 0;
   margin-bottom: 0;
   font-weight: 900;
   font-size: 72px;
   line-height: calc(76 / 72 * 100%);
   color: #FFFFFF;
   max-width: 580px;
   text-align: center;
   z-index: 0;
}

@media screen and (max-width:767px) {
   .cover__title{
      font-size: 32px;
   }
}