.place {
   display: grid;
   grid-template-columns: 460px auto;
   row-gap: 48px;
   column-gap: 40px;
}

@media screen and (max-width:1279px) {
   .place {
      grid-template-columns: 440px auto;
      column-gap: 32px;
      padding-left: 28px;
      padding-right: 28px;
   }
}

@media screen and (max-width:1023px) {
   .place {
      grid-template-columns: 340px auto;
      column-gap: 28px;
      padding-left: 24px;
   }
}

@media screen and (max-width:767px) {
   .place {
      grid-template-columns: auto;
      column-gap: 32px;
      padding-left: 0px;
      padding-right: 0;
   }
}

.place:not(:first-child) {
   padding-top: 80px;
}

@media screen and (max-width:1023px) {
   .place:not(:first-child) {
      padding-top: 73px;
   }
}

@media screen and (max-width:767px) {
   .place:not(:first-child) {
      padding-top: 50px;
   }
}