.intro__title {
   font-weight: 900;
   font-size: 54px;
   margin-top: 92px;
   margin-bottom: 0;
   line-height: calc(58 / 54 * 100%);
}

@media screen and (max-width:1279px) {
   .intro__title {
      margin-top: 92px;
   }
}

@media screen and (max-width:767px) {
   .intro__title {
      font-size: 43px;
   }
}

@media screen and (max-width:570px) {
   .intro__title {
      font-size: 32px;
      margin-top: 64px;
   }
}